@import '../../../_styles/variable.less';

.ImageViewStepperForm {
    a {
        text-decoration: none;
    }
    font-size: 14px !important;
    width: 550px;
    .MuiFilledInput-root {
        border-radius: 0px;
    }
    .MuiSvgIcon-root {
        font-size: 24px !important;
    }

    .MuiStep-root {
        padding-left: 0;
    }

    .Mui-active {
        color: #170f4f !important;
    }

    .Mui-completed {
        color: #170f4f !important;
    }
    .MuiStepIcon-root-53.MuiStepIcon-active-54 .MuiStepIcon-text-54 {
        fill: #034691 !important;
      }

    .MuiStepLabel-root {
        align-items: flex-start;
    }

    .MuiStepConnector-root {
        left: calc(-94% + 18px);
        right: calc(87% + 20px);
    }

    .MuiStepLabel-alternativeLabel {
        text-align: left !important;
    }

    .MuiGrid-root {
        max-width: 100% !important;
    }
    .MuiFilledInput-input {
        padding-top: 12px;
        padding-bottom: 8px;;
    }

    .stepperButton {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .button-cont {
        padding-left: 10px;
    }

    .viewImageSubheader {
        position: relative;
        width: 100%;
        height: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: #A29FB9;
    }
    
    .uploadImageSubheaderInfo {
        position: relative;
        width: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: #A29FB9;
    }
    .previewImageWrappar {
        position: relative;
        width: 200px;
        height: 200px;
        background: #F2F2F2;
    }
    .previewImageLabelText {
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.001em;
        color: #D1CFDC;
    }
    .MuiChip-root {
        border-radius: 0px;
        flex-direction: row;
        align-items: center;
        padding: 14px 16px;
        width: 183px;
        height: 48px;
        background: #E6E6E6;
        .MuiChip-label {
            height: 20px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            align-items: center;
            letter-spacing: 0.0125em;
            color: #170F4F;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
    .PopupTitle {
        font-size: 24px;
    }
    .activeActive {
        color: #170f4f;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        padding: 1.4em;
        margin: 0;
        height: 0;
        text-align: center;
    } 
    .lableText {
        font-weight: 600;
        font-size: 14px;
        color: #170f4f;
    }
}